*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: #ffffff; /* background-color: #1a1a1a; Mudar a cor do fundo */
}

li a{
    text-decoration: none; /*Remove o sublinhado */
    font-size: 14.77px; /* Tamanho da font*/
    font-weight: 100px;
    color: #05073C; /*Mudar a cor da font*/
    padding: 20px;
    font-family: sans-serif /*Muda a tipografia da font*/

    }
    
    li{
        list-style: none; /* Remover formartação da lista*/
    }
    
    #logo{
    
        height: 32px; /*Altura*/
        width: 167px; /*Largura*/
        padding: 20px;

    }
    
    ul{
        display: flex; /*Indica a prpriedade FlexBox*/
        flex-direction: row; /*Colocar os elementos na horizontal ou na vertical*/
    
    }

    .menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .container {
        width: 100%; /* Garante que o container ocupe 100% da largura do elemento pai */
        max-width: 1200px; /* Define a largura máxima que o container pode atingir */
        margin: 0 auto; /* Centraliza o container horizontalmente */
        padding: 0 15px; /* Adiciona um espaçamento nas laterais para evitar que o conteúdo fique colado na tela */
      } 

    .banner{
        background-image:url("assets/Section.png");
        background-repeat: no-repeat; /*A imagem não se repete*/
        background-size: cover;
        height: 702.13px; /*Altura*/
        width: 1800px;
        border-radius: 12px; /*Arredonda as bordas*/
        display: flex;
        align-items: center;
    }

.texto-banner{
    font-size: 69.73px; 
    font-weight: bolder;
    color: #ffffff;
    font-family: sans-serif
}

.caixa-texto-banner{
    width: 3000px; /*Largura*/
    padding: 100px; /*Espaçamento interno*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-center{
        display: flex;
        justify-content: center;
        align-items: center;
}

.texto{
    font-size: 14.65px;
    color: #ffffff;
    font-family: sans-serif
}

.barra-pesquisa{
    font-size: 14.77px;
    font-weight: lighter;
    color: #757575;
}

.texto-login{
    font-size: 14.3px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;

}

.caixa-login{
    width: 83.31px; /*Largura*/
    height: 40px; /*Altura*/
    border-radius: 30px;
    background-color: #EB662B;
    color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 29.3px;
    width: 267.33px; /*Largura*/
    height: 45px; /*Altura*/
    color: #05073C;
    font-weight: bold;
    font-family: sans-serif;
    padding: 70px;
}

.caixa-branca{
    background-color: #ffffff;
    width: 850px; /*Largura*/
    height: 80px; /*Altura*/
    border-radius: 12px;
    margin: 60px;
}

.coluna1{
    background-color: #ffffff;
    width: 50px; /*Largura*/
    height: 50px; /*Altura*/
    border-radius: 12px;
    border: solid #E7E6E6 1px;
    flex-direction: row;
    align-items: center;
}

.coluna-texto{
    height: 43.60px;
    width: 128.37px;
    display: flex;
    flex-direction: column;
    
}

.texto1{
    font-size: 14.88px;
    color: #05073C;
    font-family: sans-serif;
}

.texto2{
    font-size: 13.67px;
    color: #717171;
    font-family: sans-serif;

}

.texto-btn{
    width: 83.31px; /*Largura*/
    height: 40px; /*Altura*/
    border-radius: 12px;
    background-color: #EB662B;
    color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}